/* Reset some default styles for better consistency */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0);
  }
}



@media only screen and (min-width: 1000px) {
/*for desktop */

  body {
    background-image: url("/images/desktop/CLOUD_BKxJP.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }

  .desktop-images{
    display: block;
  }

  .mobile-images{
    display: none;
  }

  .image-container img {
    /* object-fit: contain; */
    height: 100vh;
    /* width: 600px; */

  }

  .jaipur img{
    margin-left: -15vh;
  }

  .brooklyn img {
    /* padding-left: 60vh; */
    height: 100vh;
  }

  .brooklyn {
    position: fixed;
    right: -10vh;
      /* text-align: right; */

  }

  .image-container {
    /* background-image: url("/images/desktop/JP_BKxJP.png"); */
    /* background-size: contain; */
    /* width: 10vw; */
    position: fixed;
    z-index: 100;
    /* background-attachment: fixed; */

  }

}

@media only screen and (max-width: 768px) {
  /* For small mobile: */
    body {
      background-image: url("/images/mobile/mobile-CLOUD_BKxJP.jpeg");
      background-size: cover;
    }

    .desktop-images {
      display: none;
    }

    .mobile-images {
      display: block;
    }

      .image-container {
    /* background-image: url("/images/desktop/JP_BKxJP.png"); */
    /* background-size: contain; */
    /* width: 10vw; */
    position: fixed;
    z-index: 100;
    /* background-attachment: fixed; */

  }

    .image-container img {
      /* object-fit: contain; */
      width: 100%;
      /* width: 600px; */
  
    }
  
    .jaipur img {
      /* margin-left: -15vh; */
      position: fixed;
      top: -30vh;
    }
  
    /* .brooklyn img {
      padding-left: 60vh; */
      /* height: 100vh;
      
    } */
  
    .brooklyn {
      position: fixed;
      bottom: -25vh;
  
    }

}

@media only screen and (min-width: 768px) and (max-width: 1000px) {

  /* For tablets: */
  body {
    background-image: url("/images/mobile/mobile-CLOUD_BKxJP.jpeg");
    background-size: cover;
  }

  .desktop-images {
    display: none;
  }

  .mobile-images {
    display: block;
  }

  .image-container {
    /* background-image: url("/images/desktop/JP_BKxJP.png"); */
    /* background-size: contain; */
    /* width: 10vw; */
    position: absolute;
    z-index: 100;
    /* background-attachment: fixed; */

  }

  .image-container img {
    /* object-fit: contain; */
    width: 100%;
    /* width: 600px; */

  }

  .jaipur img {
    /* margin-left: -15vh; */
    position: fixed;
    top: -60vh;
  }

  /* .brooklyn img {
      padding-left: 60vh; */
  /* height: 100vh;
      
    } */

  .brooklyn {
    position: fixed;
    bottom: -50vh;
    /* right: -10vh; */
    /* text-align: right; */

  }

}


/* 
.brooklyn {

} */


 .container {
  padding-top: 40vh;
  position: relative;
  /* border: 3px solid green; */
}

a{
  text-decoration: none;
  color: inherit;
}

/*
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */

/* Apply background color to the entire page */
body {
  background-color: #ffdbb2;
  color: #3d5c69;
  font-family: 'Times New Roman', Times, serif, sans-serif;
}

/* Header and navigation styles */
header {
  background-color: #e0533f;
  padding: 10px 0;
  text-align: center;
  font-family: "tt-travels-next", sans-serif;
  font-weight: 800;
  font-style: normal;
}




.coming-soon{
  text-align: center;
  font-family: "capitolina", serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "tt-travels-next", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;

}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Main section styles */
section {
  padding: 40px;
}

/* Heading styles */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

/* Footer styles */
footer {
  background-color: #e0533f;
  text-align: center;
  padding: 10px 0;
}



/* ade out animation */
.fade-out {
  animation: fadeOut 1s forwards;
  animation-delay: 2s;
   }

/* Keyframes for fading out */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.slide-down {
  animation: slideDown 4s forwards;
  animation-delay: .5s;
}

.slide-up {
  animation: slideUp 4s forwards;
  animation-delay: .5s;
}

.slide-left {
  animation: slideLeft 4s forwards;
  animation-delay: .5s;
}

.slide-right {
  animation: slideRight 4s forwards;
  animation-delay: .5s;
}


@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(500px);
    opacity: 0;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(500px);
    opacity: 0;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-500px);
    opacity: 0;
  }
}